
// sedcond buttoms
.button__facebook  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: transparent;
    background-color: #FFFFFF;
    border: 1px solid #C7CED3;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    background: url(../images/Icons/Facebook.svg) 50% no-repeat;
    transition: 0.3s;

    @media (min-width: 440px) {
        background-position: 17% 46%;
        width: 133px;
        padding: 5px 21px;
        text-align: right;
        color: #414141;
    }

    @media (min-width: 540px) {
        background-position: 25% 46%;
        width: 153px;
        padding: 8px 28px 8px 60px;
        text-align: center;
    }

    &:hover {
        border: 1px solid #0777CF;
        border-radius: 4px;
        cursor: pointer;
    }

    &:focus {
        border: 1px solid #0777CF;
        box-shadow: 0px 0px 0px 1px #FFFFFF, 0px 0px 0px 3px #667988;
        border-radius: 4px;
    }
}

.button__google {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: transparent;
    background-color: #FFFFFF;
    border: 1px solid #C7CED3;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    background: url(../images/Icons/Google-login.svg) 50% no-repeat;
    transition: 0.3s;

    @media (min-width: 440px) {
        background-position: 21% 53%;
        width: 116px;
        padding: 8px 23px;
        text-align: right;
        color: #414141;
    }

    @media (min-width: 540px) {
        background-position: 30% 53%;
        width: 136px;
        padding: 8px 28px 8px 60px;
        text-align: center;
    }

    &:hover {
        border: 1px solid #0777CF;
        border-radius: 4px;
        cursor: pointer;
    }

    &:focus {
        border: 1px solid #0777CF;
        box-shadow: 0px 0px 0px 1px #FFFFFF, 0px 0px 0px 3px #667988;
        border-radius: 4px;
    }
}

.button__apple {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: transparent;
    background-color: #FFFFFF;
    border: 1px solid #C7CED3;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    background: url(../images/Icons/Apple-login.svg) 50% no-repeat;
    transition: 0.3s;

    @media (min-width: 440px) {
        background-position: 24% 46%;
        width: 107px;
        padding: 5px 22px;
        text-align: right;
        color: #414141;
    }

    @media (min-width: 540px) {
        background-position: 31% 51%;
        width: 127px;
        padding: 8px 28px 8px 60px;
        text-align: center;
    }

    &:hover {
        border: 1px solid #0777CF;
        border-radius: 4px;
        cursor: pointer;
    }

    &:focus {
        border: 1px solid #0777CF;
        box-shadow: 0px 0px 0px 1px #FFFFFF, 0px 0px 0px 3px #667988;
        border-radius: 4px;
    }
}

// Primary Buttons

.button__prime {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    background: #0777CF;
    border-radius: 4px;
    transition: 0.3s;
    
    &:hover {
        background: #348FD7;
        cursor: pointer;
    }

    &:focus {
        background: #0777CF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 0px 0px 1px #FFFFFF, 0px 0px 0px 3px #667988;
    }
}