

@font-face {
  font-family: Graphik ;
  src: url("../fonts/GraphikBold.otf") format("truetype");
  font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');